@model Patron_Center.Models.Diapositiva

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Diapositiva</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlVideo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlVideo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unidad.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="Diapositivas" asp-action="Index" asp-route-UnidadId=@ViewBag.UnidadId>Volver atras</a>
</div>
