@model IEnumerable<Patron_Center.Models.Diapositiva>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Diapositivas</h1>

<p>
    <a asp-controller="Diapositivas" asp-action="Create" asp-route-UnidadId="@ViewBag.UnidadId" class="btn btn-link">Crear Diapositiva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eliminado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidad.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href='javascript:history.go(-1)'>Volver atras</a>
</div>

