@model IEnumerable<Patron_Center.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis Calificaciones</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(String.Format("{0} {1}", item.Usuario.Nombre, item.Usuario.Apellido))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
        </tr>
}
    </tbody>
</table>
