@model Patron_Center.Models.Respuesta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pregunta.Enunciado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespuestaCorrecta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespuestaCorrecta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seleccionada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seleccionada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enunciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enunciado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
