@model IEnumerable<Patron_Center.Models.Respuesta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Respuestas" asp-action="Create" asp-route-PreguntaId="@ViewBag.PreguntaId" class="btn btn-link">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RespuestaCorrecta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seleccionada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enunciado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta.Enunciado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespuestaCorrecta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seleccionada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enunciado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
