@model IEnumerable<Patron_Center.Models.Pregunta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Preguntas" asp-action="Create" asp-route-QuizId="@ViewBag.QuizId" class="btn btn-link">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Enunciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Enunciado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puntaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eliminado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quiz.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">Editar</a>

                    @if (ViewBag.QuizType == TipoEjercicio.Multiple_Opcion)
                    {
                        <a asp-controller="Respuestas" asp-action="Index" asp-route-PreguntaId="@item.Id" class="btn btn-link">Respuestas</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Quizes" asp-action="Index" asp-route-UnidadId=@ViewBag.UnidadId>Volver atrás</a>
</div>