@model IEnumerable<Patron_Center.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

    <h1>Listado de Practicos</h1>

<p>
    <a asp-controller="Quizes" asp-action="Create" asp-route-UnidadId="@ViewBag.UnidadId" class="btn btn-link">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsEvaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsEliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsEvaluacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsEliminado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-controller="Preguntas" asp-action="Index" asp-route-QuizId="@item.Id" class="btn btn-link">Ver Preguntas</a>
            </td>
        </tr>
}
    </tbody>
</table>
