@model IEnumerable<Patron_Center.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Quizes" asp-action="Create" asp-route-UnidadId="@ViewBag.UnidadId" class="btn btn-link">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ejercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidad.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puntaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evaluacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ejercicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">Editar</a>
                    <a asp-controller="Preguntas" asp-action="Index" asp-route-QuizId="@item.Id" class="btn btn-link">Ver Preguntas</a>
                    <a asp-controller="Quizes" asp-action="AnswerQuiz" asp-route-QuizId="@item.Id" class="btn btn-link">Cursar Quiz</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Unidades" asp-action="Index" asp-route-CursoId=@ViewBag.CursoId>Volver atras</a>
</div>
