@model IEnumerable<CorreccionMOViewModel>

@{
    ViewData["Title"] = "Resultados del Quiz";
}


@foreach (var correccion in Model)
{
    if (correccion.RespuestaCorrecta == true)
    {
        <div>
            Pregunta @correccion.OrdenPregunta: @correccion.EnunciadoPregunta
        </div>
        <div>
            <b>Correcta</b>
        </div>
        <br />
    }
    else
    {
        <div>
            Pregunta @correccion.OrdenPregunta: @correccion.EnunciadoPregunta

        </div>
        <div>
            <b>Incorrecta</b>
        </div>
        <br />
    }
}

<div>
    Respuestas correctas: @ViewBag.RespuestasCorrectas
</div>
<div>
    Respuestas incorrectas: @ViewBag.RespuestasIncorrectas
</div>
<div>
    <h4>Puntaje: @ViewBag.PuntajeTotal</h4>
</div>

<div>
    <a asp-controller="Quizes" asp-action="ViewQuizes" asp-route-UnidadId="@ViewBag.IdUnidad" class="btn btn-link">Volver a Prácticos</a>
</div>